<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<!DOCTYPE html>
<html lang="sk">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Magic Stores s.r.o.">

   
</head>

<body>
    

    <div class="center">
        <h2> Soyez la bienvenue  </h2>
        <br>
        <br>
<div class="row-md-6">        
    <div class="col-md-3 col-lg-3">
             <div class="list-group" >
        
        <a class="list-group-item" routerLink="/produits"><i class="glyphicon glyphicon-home btn-lg"></i> Venez voir la liste de nos Produits !</a>
		<a class="list-group-item" routerLink="/categorie"><i class="glyphicon glyphicon-user btn-lg"></i> Consultez les catégories de tous nos Produits !</a>
		<a class="list-group-item" routerLink="/panier"><i class="glyphicon glyphicon-euro btn-lg"></i> Consultez votre Panier !</a>
		<a class="list-group-item" (click)="deconnexion()"><i class="glyphicon glyphicon-tag btn-lg"></i> Déconnexion </a>
        
	        </div>
    </div>             
</div>

<p></p>

    </div>


</body>
</html>